hr {
    border: 0;
    height: 4px;
    margin-top: 20px;
    text-align: center;
  
    &::after {
      content: "<hr/>";
      position: relative;
      top: -12px;
      display: inline-block;
      width: 36px;
      height: 24px;
      padding: 0;
      border: 2px solid red;
      border-radius: 24px;
      background: red;
      color: white;
      font-size: 12px;
      line-height: 24px;
    }
  }
  